# Ejercicios con `pandas`

Importe las librerías necesarias:

In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Imprima las versiones de todas la librerías

In [15]:
print(pd)

<module 'pandas' from 'C:\\Users\\felix\\anaconda3\\lib\\site-packages\\pandas\\__init__.py'>

Importe los datos desde [aqui](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). Asígnelos a una variable `chipo`.

In [156]:
df=pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')

Muestre las primeras 10 entradas del dataframe

In [20]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

Cual es el número total de observaciones en el dataset?

In [155]:
# solucion 1
len(df)

4622

In [1]:
# solucion 2

Cuantas columnas hay en el dataset? Copielas a una lista.

In [56]:
c=list(df.columns.values)
a=len(c)
print('hay', a, 'columnas y son',c)

hay 5 columnas y son ['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

Imprima el nombre de las columnas

In [57]:
print(c)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

Como está indexado el dataset?

In [58]:
df.index

RangeIndex(start=0, stop=4622, step=1)

Cual fue el objeto más pedido?

In [78]:
df.item_name.value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Bowl                                       2
Crispy Tacos                               2
Salad                                      2
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Chips and Mild Fresh Tomato Salsa          1
Name: item_name, dtype: int64

Para el objeto más pedido, cuantos fueron?

In [80]:
726

array(['Chips and Fresh Tomato Salsa', 'Izze', 'Nantucket Nectar', ...,
       'Chicken Salad Bowl', 'Chicken Salad Bowl', 'Chicken Salad Bowl'],
      dtype=object)

Cual fue el item más pedido en la columna `choice_description`?

In [82]:
df.choice_description.value_counts()

[Diet Coke]                                                                                                      134
[Coke]                                                                                                           123
[Sprite]                                                                                                          77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                            42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                 40
                                                                                                                ...
[Roasted Chili Corn Salsa (Medium), [Rice, Pinto Beans, Cheese, Lettuce]]                                          1
[Fresh Tomato Salsa, [Rice, Guacamole, Lettuce]]                                                                   1
[[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium)], [Fajita Veggies, Rice]]                           1
[Tomatillo-Green Chili Salsa (Medium), [Pinto Beans, Black Beans, Rice, Fajita Veggies, Sour Cream, Lettuce]]      1
[[Fresh Tomato Salsa (Mild), Tomatillo-Red Chili Salsa (Hot)], [Rice, Cheese, Sour Cream, Guacamole]]              1
Name: choice_description, Length: 1043, dtype: int64

Cuantos items fueron pedidos en total?

In [83]:
sum(df.quantity)

4972

Convierte el precio en un `float`

In [154]:
h=[]
for x in range(len(df.item_price)):
    h.append(float(df['item_price'][x].replace('$',"")))
#h

Cuanto fue la ganancia total en el periodo del dataset?

In [130]:
total=0
for i in range(len(df.quantity)):
    total=total+h[i]*df['quantity'][i]
total

39237.020000000055

Cúantos pedidos se hicieron?

In [149]:
c_pedidos=df['order_id'][len(df.order_id)-1]
c_pedidos

1834

Cual fue el promedio de ganancia por orden?

In [152]:
m_ped=total/c_pedidos
print('el promedio por pedido es de $',m_ped)

el promedio por pedido es de $ 21.3942311886587

Cuántos items se vendieron en total?

In [153]:
sum(df.quantity)

4972